@model DrinkAndGo1.Models.Drink


<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageUrl" class="img-fluid" alt="">
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Name</h4>
                <!--Text-->
                <p class="card-text">@Model.LongDescription.</p>
                <p class="btn btn-group pull-right">
                    <a>@Html.ActionLink("Show all drinks", "ShowAllDrinks", "Home", null, new { @class = "btn btn-primary" })</a>
                    <a>@Html.ActionLink("Add "+Model.Name+" to cart", "AddToShoppingCart", "ShoppingCart", new { id = Model.DrinkId }, new { @class = "btn btn-success" })</a>
              
                 
                </p>
            </div>
        </div>
    </div>
</div>